* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;

  background-color: #333;
  color: white;
  height: 10vh;
  /* align-items: center; */
  padding: 0 0.5rem;

  align-items: center;
}

.navbar-list {
  display: flex;
  list-style: none;

  height: 100%;
}

.navbar-list-item {
  display: flex;
  align-items: center;
}
.navbar-list-item a {
  text-decoration: none;
  margin: 0 0.5rem;

  color: white;
}

.navbar-list-item:hover {
  background-color: #777;
}
