@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Montserrat, sans-serif;
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background: linear-gradient(
    to right,
    hsl(200, 100%, 50%),
    hsl(175, 100%, 50%)
  );
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;
  background-color: white;

  border-radius: 2vw;
}

.item {
  margin-top: 2vw;
}
.btn {
  margin-top: 2vw;
}

.error-container {
  background-color: rgb(230, 64, 64);
  color: white;
  margin-bottom: 5vw;
  width: 100%;
  padding: 2vw;
  border-radius: 2vw;

  transition: all 0.5s;
}

* {
  /* border: 1px solid red; */
}

.btn {
  padding: 1vw 2vw;
  border: none;
  margin-top: 4vw;
  background-color: hsl(175, 24%, 89%);
  font-weight: 00;
}
.btn:hover {
  background-color: hsl(173, 7%, 74%);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
.item {
  width: 100%;
}
.item input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1vw 0;
  border-bottom: 2px solid black;
}

.item input[type="checkbox"] {
  width: initial;
}
.register-container {
  display: flex;
  flex-direction: column;
}
