<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Img</title>
</head>
<body>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="photo1">
        <input type="file" name="photo2">
        <input type="file" name="photo3">
        <input type="submit" value="Upload">
    </form>   
</body>
</html>