* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}

.container {
  display: grid;

  grid-template-columns: 1fr 100px;
  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
    "header header"
    "nav sidebar"
    "content sidebar"
    "footer footer";

  height: 100vh;
}

.header {
  text-align: center;
  grid-area: header;
  background-color: #069;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

.navbar {
  grid-area: nav;
  background-color: #069;
  color: white;
  border-top: 1px solid #024;
  padding: 0.5rem;
}
.navbar-list {
  display: flex;
  list-style: none;

  align-items: center;
  justify-content: space-around;
}

.navbar-list-item {
  margin: 0 0.5rem;
}

.main-content {
  grid-area: content;
  padding: 2rem;
}
.sidebar {
  grid-area: sidebar;
  background-color: #024;
  color: white;

  overflow: hidden;
}
.footer {
  grid-area: footer;
  background-color: #069;
  background-color: #069;
  padding: 1rem;
  color: white;
  font-size: 1.1rem;

  text-align: center;
}
