.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;

  background: linear-gradient(
    to right,
    hsl(200, 100%, 50%),
    hsl(175, 100%, 50%)
  );
}
.container h1 {
  font-size: 6vw;
  /* margin: 1vw 0; */
  color: #1565c0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.container h1 span {
  color: #f44336;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

  text-decoration: line-through;
  text-decoration-color: #f9f7f7;
}
.container h2 {
  /* margin: 2vw 0; */
  font-size: 3.5vw;
  margin-bottom: 2vw;
  color: #1565c0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2vw;
}

/* * {
  border: 1px solid red;
} */
.form {
  /* margin: 2vw 0; */
  font-size: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.input {
  /* width: 20vw; */
  margin: 0 1vw;
  font-size: 2.5vw;

  border: none;
  padding: 0.5vw;
  text-align: center;
  outline: none;
  padding-left: 1.5vw;
}
.select {
  font-size: 2.5vw;
  padding: 0.5vw;
  border: none;
}

.paragraph {
  overflow-y: auto;
  padding: 2vw 1vw;
  margin: 2vw 0;
  width: 80vw;
  /* height: 50vh; */
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    inset 0 0 10px rgba(0, 0, 0, 0.5);

  font-size: 2.5vw;
  /* line-height: 1.5; */
  /* color: #1565c0; */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.paragraph-item {
  font-family: "Courier New", monospace;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-x: auto;

  font-size: 2vw;
}
.btn {
  background-color: #1565c0ae;
  color: rgba(255, 253, 253, 0.878);
  padding: 0.6vw 2vw;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 2.2vw;

  cursor: pointer;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1vw;
}
.btn:hover {
  background-color: #1565c0;
}
.btn-danger {
  background-color: #f44336;
  color: white;
}
.btn-danger:hover {
  background-color: rgba(223, 53, 53, 0.937);
}

.loader {
  margin-top: 5vw;
}

@media (max-width: 991.98px) {
  .btn {
    font-size: 3.5vw;
  }
  .select {
    font-size: 3vw;
  }
  .input {
    font-size: 3vw;
  }
  .container h1,
  .container h1 span {
    font-size: 7vw;
  }
  .container h2 {
    font-size: 4vw;
  }
}

@media (max-width: 767.98px) {
  .btn {
    font-size: 4.5vw;
  }
  .select {
    font-size: 4vw;
  }
  .input {
    font-size: 4vw;
  }
  .container h1,
  .container h1 span {
    font-size: 8vw;
  }
  .container h2 {
    font-size: 5vw;
  }
}

@media (max-width: 575.98px) {
  .btn {
    font-size: 5.5vw;
  }
  .select {
    font-size: 5vw;
  }
  .input {
    font-size: 5vw;
  }
  .container h1,
  .container h1 span {
    font-size: 9vw;
  }
  .container h2 {
    font-size: 6vw;
  }
}
