nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 3rem;
}

nav > a {
  font: 600 1.7em cursive;
  color: black;
  text-decoration: none;
  margin: 0 1rem;
}
