.header-text,
#footer {
  background-color: purple;
  color: white;
  text-align: center;
}

.article-title {
  font-family: Arial, Helvetica, sans-serif;
}

.article-date,
.article-author {
  color: gray;
  font-style: italic;
}
