* {
  /* border: 2px solid red; */
}

.tour-card {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 40vw;
  margin: 4vw 4vw;
  /* overflow: scroll; */
  /* border: 4px solid red; */
  background-color: white;
  border-radius: 10px;
}

.tour-card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tour-card .name-wrapper {
  margin-top: 1vw;
  display: flex;

  /* background-color: red; */

  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}

.info {
  margin-top: 2vw;
  padding: 0 2vw;
}

.btn-not-interested {
  margin: 2vw 2vw;
  align-self: center;

  background: none;
  padding: 0.3vw 3vw;
  border-color: rgb(209, 30, 30);
  color: rgb(209, 30, 30);
  border-radius: 4px;
}

.price {
  background-color: rgba(103, 213, 223, 0.368);
  padding: 0.4vw;
  font-weight: bold;
  color: rgba(33, 133, 142, 0.89);

  white-space: nowrap;
}

.toggle-btn {
  border: none;
  background: none;
  color: rgba(22, 143, 154, 0.89);

  /* text-decoration: underline; */
  font-weight: 400;
  margin-left: 1vw;
}

@media (max-width: 991.98px) {
  .tour-card {
    width: 70vw;
  }
}
