.header-author {
  text-align: center;
}

.hobbies,
.favourite-languages {
  background-color: rgb(35, 157, 28);
  color: white;
}

.first-item {
  color: aqua;
}

#katy-perry {
  text-decoration: line-through;
}

.blog-title {
  font-family: Arial, Helvetica, sans-serif;
}
