@font-face {
  font-family: Saurav;
  src: url(./BebasNeue-Regular.ttf);
}
* {
  box-sizing: border-box;
  font-family: Saurav;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  /* border: 1px solid red; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: rgb(12, 90, 132);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}
.piano {
  min-width: 80%;
  display: flex;
  /* width: 60%; */

  justify-content: center;

  background-color: white;
  height: 60%;

  position: relative;
  border: 10px solid rgb(166, 235, 91);
  border-radius: 20px;
}

.key.white {
  z-index: 10;
  width: 100%;
  /* border: 1px solid rgb(3, 0, 0); */
  text-align: center;
  transition: all 0.2s;
  background-color: white;
}

.key.black {
  /* position: absolute; */
  z-index: 11;
  background-color: black;
  color: white;
  width: 40%;
  height: 50%;

  margin-left: -2%;
  margin-right: -2%;
  text-align: center;
}

.key.white:hover,
.key.white.active {
  background-color: #b6b1b1;
}
div.piano .key.black.active {
  background-color: rgb(151, 146, 146);
}

.key {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.4rem;
}
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(132, 229, 28, 0.712),
    rgb(58, 233, 58)
  );
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 5;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
.piano::before {
  position: absolute;
  content: "";
  height: 10%;
  width: 100%;
  background-color: black;
  top: -20px;

  border-radius: 5px;
}
.h1 {
  position: absolute;
  top: 20px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.47);
  width: 100%;
  text-align: center;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  backdrop-filter: blur(5px);

  color: white;
  font-stretch: 200%;
}
