.Box {
  background-color: white;
  width: 30vw;
  /* height: 300px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 1px solid red; */

  padding: 2vw 1vw;
  margin-top: 5vw;

  border-radius: 10px;

  box-shadow: 0 0 41px #656565, inset 0px 0px 41px #ffffff;
}

.box-img-wrapper {
  background-color: #4d4dff;
  border-radius: 50%;
  position: relative;
  /* content: ""; */
  width: 7vw;
  height: 7vw;
}

.box-img {
  position: absolute;
  border-radius: 50%;
  width: 95%;
  height: 95%;

  object-fit: cover;

  left: -0.2vw;
  top: 0.2vw;
}

.quote-img-wrapper {
  background-color: #4d4dff;

  /* background-color: white; */
  position: absolute;

  border-radius: 50%;

  width: 2w;
  height: 2vw;
}

.quote-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 50%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.name {
  font-size: 1.7vw;
  font-weight: 700;
}

.title {
  /* font-size: 1.2rem; */
  font-weight: 500;
  color: #6666ff;
  font-size: 1vw;
}

.suprise-btn-wrapper {
  margin-top: 1vw;
}

.btn-surprise {
  border: none;
  background-color: #b3b3ff;
  padding: 0.5vw 1.5vw;
  color: #0000b3;
  border-radius: 5px;
  cursor: pointer;
}
.btn-surprise:hover {
  background-color: #9999ff;
}
.description {
  margin-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  padding: 0vw 2vw;
}

.navigate-btns-wrapper {
  margin: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1vw;
}

.navigate-btns-wrapper img {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .Box {
    width: 50vw;
  }

  .box-img-wrapper {
    width: 10vw;
    height: 10vw;
  }

  .quote-img-wrapper {
    width: 3vw;
    height: 3vw;
  }

  .name {
    font-size: 2.5vw;
  }

  .title {
    font-size: 1.5vw;
  }

  .description {
    font-size: 1.5vw;
  }
}

@media (max-width: 767.98px) {
  .Box {
    width: 70vw;
  }

  .box-img-wrapper {
    width: 12vw;
    height: 12vw;
  }

  .quote-img-wrapper {
    width: 4vw;
    height: 4vw;
  }

  .name {
    font-size: 3vw;
  }

  .title {
    font-size: 2vw;
  }

  .description {
    font-size: 2vw;
  }

  .navigate-btns-wrapper img {
    width: 4vw;
    height: 4vw;
  }
}

@media (max-width: 575.98px) {
  .Box {
    padding: 3vw 2vw;

    width: 90vw;
  }

  .box-img-wrapper {
    width: 15vw;
    height: 15vw;
  }

  .quote-img-wrapper {
    width: 5vw;
    height: 5vw;
  }

  .name {
    font-size: 5vw;
  }

  .title {
    font-size: 4vw;
  }

  .description {
    font-size: 4vw;
    margin: 2vw 0;
  }

  .navigate-btns-wrapper {
    margin: 2vw 0;
  }
  .navigate-btns-wrapper img {
    width: 6vw;
    height: 6vw;
  }
}
