*,
*::before,
*::after {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
}

body,
html {
  height: 120%;
  width: 100%;
}

body {
  background-color: #fae8ff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70vw;
  margin: 0 auto;
  /* width: 550px; */
  /* width: 80%; */
  /* height: 500px; */
  background-color: white;
  padding: 2rem 2rem;

  border-radius: 0.4rem;
  overflow: auto;

  /* Add this line to prevent shrinking */
  flex-shrink: 0;
}

.container h2 {
  color: #0f172a;
  padding: 0.4em 0.4em;
  box-shadow: 0 5px 20px rgb(0, 0, 0);
  font-weight: 300;
}
.person {
  display: flex;

  padding: 0.7rem;
  margin-top: 1.2rem;
  position: relative;
}

.person img {
  height: 75px;
  width: 75px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  object-fit: cover;
}
.about {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.person button {
  position: absolute;
  background: none;
  border: none;
  text-decoration: underline;
  color: #0f172a;
  right: 0;
  top: 40px;
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
}

.age {
  /* font-style: italic; */
  color: #7d7575;
  font-size: 1.2rem;
}

.about {
  margin-left: 1.6rem;
}

.btn {
  width: 100%;
  padding: 0.7rem 0;
  background-color: rgba(230, 41, 186, 0.845);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 2rem 0.4rem;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(230, 41, 186, 0.845);

  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
}
