.App {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;

  height: 100vh;
}

.title {
  font-size: 4vw;
  color: #61dafb;
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 0.8vw;
  background-color: #d0951ecb;
  left: 50%;

  bottom: -1.7vw;

  transform: translate(-50%, -50%);
}

.btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;

  max-width: 90vw;
  /* height: 100%; */
  overflow-x: auto;
  overflow-y: hidden;
}

.btns-wrapper::-webkit-scrollbar {
  width: 0.5vw;
}
.btns-wrapper::-webkit-scrollbar-thumb {
  background-color: #61dafb;
  border-radius: 5px;
}

.btn {
  padding: 0.4vw 1.8vw;
  border: none;
  margin-top: 4vw;

  background-color: #282c34;
  color: #61dafb;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;

  outline: none;
  border: none;
  box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:checked {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn:hover {
  background-color: #d0951ecb;
  color: #ffffff;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  margin-top: 4vw;

  width: 90vw;

  max-height: 60vh;

  overflow: auto;
}

.grid-container::-webkit-scrollbar {
  width: 0.5vw;
}
.grid-container::-webkit-scrollbar-thumb {
  background-color: #61dafb;
}

.item-img {
  width: 20vw;
  height: 12vw;
  object-fit: cover;

  /* padding: 1vw 2vw; */
  margin: 1vw 2vw;
  /* border: 5px solid #61dafb; */
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* border: 1px solid red; */
}
.info-wrapper {
  height: 100%;
  /* border: 1px solid red; */
  flex: 1;
}
.title-price-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  padding: 1vw;
  position: relative;
  width: 100%;
  font-weight: bold;
}

.title-price-wrapper::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;

  width: 90%;
  height: 1px;
  background-color: #61dafb;
  transform: translate(-50%, -50%);
}

.info-title,
.price {
  font-size: 2vw;
}
.price {
  color: #61dafb;
}

.info-desc {
  margin-top: 0.5vw;
  padding: 1vw;
  font-size: 1.5vw;
}

@media (max-width: 991.98px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .btn {
    font-size: 2.8vw;
  }

  .title {
    font-size: 5vw;
  }

  .item-img {
    width: 35vw;
    height: 20vw;
  }

  .info-title,
  .price {
    font-size: 5vw;
  }

  .info-desc {
    font-size: 3vw;
  }
}

@media (max-width: 575.98px) {
  .btns-wrapper {
    margin: 4vw 0;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    /* margin-top: 6vw; */
  }

  .btn {
    font-size: 3.5vw;
  }

  .title {
    font-size: 6vw;
  }

  .item-img {
    width: 35vw;
    height: 20vw;
  }

  .info-title,
  .price {
    font-size: 4vw;
  }

  .info-desc {
    font-size: 3vw;
  }
}
