.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: #ccc;
  overflow-x: hidden;
}
.container-header {
  position: relative;

  -webkit-text-stroke-width: 1px;
  font-size: 6vw;
}
.container-header::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 5px;
  left: 50%;
  bottom: -10px;
  background-color: rgb(23, 159, 189);

  transform: translateX(-50%);
}
.no-tours {
  display: flex;
  margin-top: 4vw;
  align-items: center;

  flex-direction: column;
}

.no-tours button {
  margin-top: 5vw;
  padding: 2vw 10vw;
}
.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
