.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #1b1b1b; */

  background: linear-gradient(90deg, #8080ff, #4d4dff 25%, #6666ff), #8080ff;
}

.form {
  margin-top: 2vw;
  display: flex;
  gap: 1vw;
  flex-direction: column;

  align-items: center;
}

h1 {
  font-size: 6vw;
}

.input {
  padding: 1vw;
  /* border: none; */
  border: 3px solid #f8f6f6;
  outline: none;
  width: 25vw;

  border-radius: 5px;
}

.btn-wrapper {
  display: flex;
  gap: 1vw;
}

.btn {
  padding: 1vw;
  border: none;
  background-color: #ccc;

  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: #d6d6d6;
}
.btn-danger {
  background-color: #ff1919;
  color: white;
}
.btn-danger:hover {
  background-color: #ff3333;
}
.cards-gallery {
  margin-top: 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw;
  overflow-y: scroll;
  height: 50vh;
}

.cards {
  width: 15vw;
  height: 8vw;
  background-color: #ccc;

  position: relative;
}
.cards-wrapper {
  padding: 2vw 1.5vw;
  gap: 0.8vw;
  display: flex;
  flex-direction: column;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 80%;
  /* height: 35%; */
  padding: 1vw;
  transform: translate(-50%, -50%);
  background-color: rgba(213, 188, 188, 0.727);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  white-space: nowrap;

  text-align: center;
  display: none;
}

.info-img {
  width: 3vw;
  height: 3vw;

  backdrop-filter: drop-filter(5px);
}

.info-container {
  position: absolute;
  width: 60%;
  height: 70%;

  background-color: rgba(255, 255, 255, 0.693);
  backdrop-filter: blur(5px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;

  border-radius: 10px;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 5vw;
  }
  .input {
    width: 50vw;
  }
  .btn {
    font-size: 3vw;
  }
  .cards {
    height: 20vw;
    width: 15vw;
  }
  .info-container {
    height: 40%;
  }
}
@media (max-width: 767.98px) {
  .cards-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h1 {
    font-size: 8vw;
  }
  .input {
    width: 70vw;
  }
  .btn {
    font-size: 4vw;
  }
  .cards {
    width: 20vw;
  }
  .info-container {
    height: 40%;
  }
}

@media (max-width: 575.98px) {
  .cards-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1 {
    font-size: 9vw;
  }
  .input {
    width: 80vw;
  }
  .btn {
    font-size: 5vw;
  }
  .cards {
    width: 25vw;

    font-size: 4vw;
  }
  .info-container {
    width: 95%;
    height: 40%;
    font-size: 3vw;
  }
  .cards-gallery {
    gap: 0.2vw;
  }
}
